*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    width: 450px;
    height: 510px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(203, 198, 198, 0.2);
    border-radius: 10px;
}

.main a:hover{
    text-decoration: underline;
}


.logo_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.logo{
    background-size: cover;
    width: 84px;
    height: 50px;
}

.sign{
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 15x;
}

.sign h1{
    font-size: 23px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;

}

.using{
    display: flex;
    justify-content: center;
    height: 32px;
    margin-top: 10px;
}

.use{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.form{
    height: 180px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inp{
    width: 340px;
    height: 50px;
    border: 2px solid rgba(203, 198, 198, 0.2);
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    color: black;
    border-radius: 5px;
}

.form a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #1a73e8;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
}

.middlepanelcontainer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middlepanel a{
    text-decoration: none;
    font-size: 14px;
    color: #1a73e8;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.middlepanel{
    height: 100%;
}

.middlepanel p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
}



.askingcontainer{
    height: 70px;
    width: 370px;
    margin-left: 30px;
}

.asking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.create a{
    color: #1E73A8;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.create{
    width:120px;;
}


.btn{
    background-color: #1a73e8;
    height: 40px;
    width: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.button{
    color: white;
    text-decoration: none;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}






